body {
    width: 100vw;
    background-color: white;
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
}

.f1 {
    height: 50px;
}

header, footer {
    max-width:1100px;
    margin: auto; 
    display: flex;
    justify-content: space-between;
    padding: 24px 24px;
}

header nav ul, footer nav ul{
    display: flex;
    list-style-type: none;
    gap: 16px;
}

header ul :hover, footer ul :hover {
    color: black;
    text-decoration: underline;
}

.acaso {
    overflow: hidden;
    width: 100vw;
    height: 100vh;
    position: relative;
    background-repeat: no-repeat;
    margin: 0;
}

.acaso img {
    object-fit: cover;
    width: 100%;
}

.acaso p {
    position: absolute;
    width: 30vw;
    line-height: 1;
    margin: 50px;
    padding: 50px;
    color: black;
    font-weight: bolder;
    font-size: 80px;
    left: 0;
    top: 0;
}

.paragrafo1 {
    max-width: 100%;
    display: grid;
    padding: 120px 20px;
    margin: 70px;
    display: flex;
    gap: 60px;

}

.paragrafo1 h2 {
    font-size: 50px;
}

.paragrafo1 p {
    width: 700px;
    display: flex;
    font-size: 15px;
    line-height: 1.2;
}

.paragrafo1 img {
    max-width: 50%;
    display: flex;
}

.paragrafo2 {
    display: grid;
    margin: 80px;
    grid-template-columns: 2fr 2fr;
    gap: 0px;
}

.paragrafo2 h3 {
    font-size: 50px;
    font-weight: bold;
}

.paragrafo2 p {
    width: 700px;
    display: flex;
    font-size: 15px;
    line-height: 1.2;
}

.paragrafo2 img {
    max-width: 100%;
}

.box {
    margin: 0;
    width: 100vw;
    height: 300px;
    background-color: #9C93FE;
}

.sottobox h4 {
    font-size: 50px;
    font-weight: bold;
    text-align: center;
}

.sottobox p {
    font-size: 15px;
    font-weight: bold;
    margin: 70px;
    padding: 20px 20px;
    line-height: 1.1;
}

.box2 {
    margin: 0;
    width: 100vw;
    height: 300px;
    background-color: #9C93FE;
}

.bbbox h5 {
    font-size: 40px;
    margin: 70px;
    padding: 90px;
}

.f2 {
    height: 50px;
}

.panino{
    align-items: center;
    display: none;
}

@media (max-width: 600px) {

    .acaso p {
        width: 35vw;
        margin: 40px;
        font-size: 20px;
        padding: 0px 0px;
    }

    header img, footer img  {
        width: 20vw;
    }

    header a {
        display: none;
    }

    .panino {
        top: 33px;
        position: absolute;
        height: 30px;
        display: block;
    }

    .paragrafo1 h2 {
        padding: 10px 0px;
        left: 30px;
        font-size: 15px;
    }

    .paragrafo1 p {
        padding: 10px 0px;
        width: auto;
        font-size: 8px;
    }

    .paragrafo1 img {
        padding: 25px 0px;
        gap: 0px;
        float: none;
        width: 80vw;
        height: 20vw;
    }
    
    .paragrafo2 h3 {
        padding: 10px 0px;
        font-size: 15px;
    }

    .paragrafo2 p {
        padding: 10px 0px;
        width: auto;
        margin: 0px;
        font-size: 8px;
    }

    .paragrafo2 img {
        padding: 25px 0px;
        width: 100vw;

    }

    .sottobox h4 {
        padding: 10px 10px;
        font-size: 25px;
    }

    .sottobox p {
        padding: 0px 0px;
        font-size: 10px;
    }

    .bbbox h5{
        margin: 0px;
        float: left;
        font-size: 25px;
    }

    .paragrafo1 {
        margin: 20px;
        gap: 20px;
        padding: 0px 0px;
    }

    .paragrafo2 {
        margin: 20px;
        gap: 20px;
        padding: 0px 0px;
    }
}